<% (1..10).each do |user| %>
    <div class='users'>
        <div class='image-container'>
          <img class='user-photo'src='' alt='profile pic'/>
        </div>
        <div class='user'>
          <h3>User name : Nahom</h3>
          <span class='number-of-posts'>Number of posts: 100</span>
        </div>
    </div>
<% end %>

<style>
.users {
    display:flex;
    padding : 2%;
    gap:2%
}
.image-container {
    width: 100px;
    height: 100px;
    border: 1px solid black
  }
.user{
    width: 40%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%

}
.number-of-posts{
    align-self: end;
}
</style >