<div class='post-detail'>
    <div class='post'>
        <h3>Post #1 by username</h3>
        <span>Comments:100, Likes:100</span>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies nunc quis justo consectetur, 
        vel malesuada mi sollicitudin. Sed aliquam lorem vitae libero consectetur, eget varius metus efficitur.
        Fusce nec dapibus arcu, eget rhoncus elit. Nulla eget mi lectus. Proin euismod efficitur quam, 
        nec cursus lacus consectetur et. Sed ac eros sed mauris tincidunt consectetur. Nullam euismod lobortis
        ante, at tristique est tristique nec. Curabitur ut luctus ipsum, a facilisis metus. 
        Integer pellentesque malesuada ultrices. Donec quis leo vitae odio auctor maximus vitae ac purus.
        Vestibulum quis luctus neque. Nullam laoreet nulla nec risus fringilla, a cursus risus consectetur. 
        Pellentesque eget justo non metus varius eleifend. Maecenas maximus auctor tellus ac blandit. 
        Mauris at mauris consectetur, volutpat tortor et, ultricies elit. Mauris vestibulum a risus a 
        consectetur. Curabitur ac sapien ut tellus lacinia auctor eu ac tellus. Sed pulvinar lorem sed 
        quam iaculis, eu tristique orci pulvinar. Nunc sit amet rutrum lacus. Suspendisse at feugiat dolor. 
        Suspendisse ultrices maximus justo, vel ullamcorper dolor. Fusce ac ex sit amet tellus vulputate 
        lobortis. Aenean vulputate metus ac risus convallis eleifend.
        </p>
    </div>
    <div class='comments'>
        <% (1..10).each do |comment| %> 
            <p>Username: Comment <%= comment %></p>
        <% end %>
    </div>
</div>

<style>
.post-detail {
    display: flex;
    flex-direction: column; 
    padding: 2%;
    gap:10px
}
.post, .comments {
    border: 1px solid black;
    padding: 1%
}
</style >